<mtapp:setting
    id="HideBlogMenuList"
    label="HideBlogMenuList"
    show_label="0"
    show_hint="0">
    <input type="text" name="HideBlogMenuList" id="HideBlogMenuList" class="text" value="<mt:var name="HideBlogMenuList" escape="html">" mt:watch-change="1" autocomplete="off" />
</mtapp:setting>