<mtapp:setting
    id="HideSystemMenuList"
    label="HideSystemMenuList"
    show_label="0"
    show_hint="0">
    <input type="text" name="HideSystemMenuList" id="HideSystemMenuList" class="text" value="<mt:var name="HideSystemMenuList" escape="html">" mt:watch-change="1" autocomplete="off" />
</mtapp:setting>